[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
numpy = "*"
pandas = "*"
pyproj = {path = "wheels/pyproj-2.2.2-cp37-cp37m-win_amd64.whl"}
tqdm = "*"
shapely = {path = "wheels/Shapely-1.6.4.post2-cp37-cp37m-win_amd64.whl"}
matplotlib = "*"
jupyter = "*"
gdal = {path = "wheels/GDAL-2.4.1-cp37-cp37m-win_amd64.whl"}
fiona = {path = "wheels/Fiona-1.8.6-cp37-cp37m-win_amd64.whl"}
rtree = {path = "wheels/Rtree-0.8.3-cp37-cp37m-win_amd64.whl"}
geopandas = "*"
astropy = "*"

[requires]
python_version = "3.7"
